<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1>Book Form</h1>

<!--<form th:action="@{/heroes/create}" th:method="post" th:object="${book}">-->
<!--    <div>-->
<!--        Book Name <input type="text" th:field="*{book_name}">-->

<!--    </div>-->
<!--    <div>-->
<!--        Publisher <input type="text" th:field="*{publisher}">-->

<!--    </div>-->

<!--    <div>-->
<!--        Author <input type="text" th:field="*{author}">-->
<!--    </div>-->

<!--    <div>-->
<!--        Genre <input type="text" th:field="*{genre}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="submit" value="Submit">-->
<!--        <input type="reset" value="Reset">-->
<!--    </div>-->
<!--</form>-->
</body>
</html>